@import 'tailwindcss';


@layer base {
  :root {
    --font-sans: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-family: var(--font-sans);
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    cursor: none;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 3px;
    border: 1px solid #fefefe;
    padding: 4px 6px;
    font-size: 12px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    color: #375FFF;
    transition: border-color 0.25s;
  }

}

@layer components {
  .text-color-default{
    @apply text-gray-700
  }

  .sub-title {
    @apply font-semibold text-[15px] text-left
  }

  .text-deep-blue{
    @apply text-[#47a299]
  }

  .description{
    @apply text-[13px] md:text-[15px] text-gray-700 leading-relaxed max-w-3xl mx-auto whitespace-pre-line text-left
  }
}